* {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.7;
	font-family: 'Roboto';
	background-color: #fafafa;
}

.findercontent {
	opacity: 0.96;
	height: 40px;
	border-bottom: 1px solid #8E8E93;
    background-color: #E5E5E5;
    width: 100%;
    border-radius: 10px;
}

.finderbox {
	display: none;
	opacity: 0.96;
    margin-top: 4px;
    border: 1px solid #000;
    border-radius: 10px;
    height: 80px;
    background-color: #E5E5E5;
    width: 100%;
}

@media screen and (max-width: 768px) {
	.finder {
		position: fixed;
		top: -50px;
		right: 0;
		left: 0;
		z-index: 99999;
		height: 150px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		padding: 5px;
		transition: top 0.15s ease-out;
	}

	.finder.active {
		top: 0;
	}

	.searchIcon {
		z-index: 99999;
		position: fixed;
		width: 50px;
		height: 50px;
		bottom: 35px;
		right: 20px;
		cursor: pointer;
		/* background-image: url(https://adarsh-why.github.io/shopify-script-service/glass.svg); */
		background-size: 100%;
	}
}

.finder-search-text {
	font-size: 15px;
	display: block;
	position: absolute;
	height: 30px;
    margin-left: 20px;
    margin-top: 7px;
    color: #8E8E93;
}

.finder-input {
	font-size: medium !important;
	background-color: #E5E5E5 !important;
	margin-top: 5px !important;
	margin-left: 11px !important;
	flex-grow: 1 !important;
	width: 50% !important;
	height: 30px !important;
	border: none !important;
	padding: 8px !important;
	outline: none !important;
}

.finder-input.not-found {
	color: #e7353f;
}

.close-btn-finder {
	cursor: pointer;
	background-image: url(https://adarsh-why.github.io/shopify-script-service/close.svg);
	background-size: 100%;
	top: 10%;
    position: absolute;
    right: 20px;
	border: none;
	width: 20px;
	height: 20px;
}

.prev-btn-finder {
	cursor: pointer;
	background-image: url(https://adarsh-why.github.io/shopify-script-service/up.svg);
	background-size: 100%;
	top: 10%;
    position: absolute;
    right: 90px;
	border: none;
	width: 20px;
	height: 20px;
}

.next-btn-finder {
	cursor: pointer;
	background-image: url(https://adarsh-why.github.io/shopify-script-service/down.svg);
	background-size: 100%;
	top: 10%;
    position: absolute;
    right: 60px;
	border: none;
	width: 20px;
	height: 20px;
}

.finder-input,
.prev-btn-finder:not(:last-child)
.next-btn-finder:not(:last-child) {
	margin-right: 5px;
}

.finder-count {
	top: 10%;
	color: #888;
    position: absolute;
    right: 130px;
	background: none;
	border: none;
	text-align: center;
	padding: 0;
	outline: none !important;
}

/* .finder-count { */
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex; */
	/* display: flex; */
	/* flex-direction: column;
	justify-content: center;
	color: #888;
	border-right: 1px solid #e5e5e5;
	margin-right: 5px;
	margin-left: 5%;
	padding-right: 5px;
	white-space: nowrap;
} */

.prev-btn-finder,
.next-btn-finder,
.btn-finder,
.finder-count {
	flex-shrink: 0;
	flex-grow: 0;
}

.highlight {
	background: #ff8;
}

.highlight.active {
	background: #ffd71b;
}

.suggestion-item {
	margin-left: 19px;
	background-color: none !important;
}