* {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.7;
	font-family: 'Roboto';
	background-color: #fafafa;
}

.findercontent {
	margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 3%;
    margin-left: 9%;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.finder {
		position: fixed;
		top: -50px;
		right: 0;
		left: 0;
		z-index: 999;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height: 50px;
		background: #fff;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		border-bottom: 1px solid #e5e5e5;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		padding: 5px;
		transition: top 0.15s ease-out;
	}

	.finder.active {
		opacity: 0.9;
		top: 0;
	}

	.searchIcon {
		z-index: 999;
		position: fixed;
		background-color: #ffffff;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
		background-image: url(https://adarsh-why.github.io/shopify-script-service/search.png);
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		-webkit-tap-highlight-color: transparent;
	}
}

.finder-search-text {
	display: block;
	position: absolute;
	height: 30px;
    margin-left: 12%;
    margin-top: 6px;
    color: gray;
}

.finder-search-icon {
	display: block;
	margin-top: 2px;
    margin-left: 3%;
	position: absolute;
	width: 30px;
    background-image: url(search.png);
    height: 30px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.finder-logo {
	position: absolute;
	width: 30px;
    margin-top: 1%;
    background-image: url(icon.png);
    height: 30px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.finder-input {
	font-size: medium !important;
	background-color: #f2f2f2 !important;
	margin-left: 11% !important;
	flex-grow: 1 !important;
	width: 40% !important;
	height: 30px !important;
	border: none !important;
	padding: 8px !important;
	outline: none !important;
}

.finder-input.not-found {
	color: #e7353f;
}

.close-btn-finder {
	top: 10%;
	color: #000000;
    position: absolute;
    right: 6%;
	background: none;
	border: none;
	width: 20px;
	height: 40px;
	text-align: center;
	padding: 0;
	outline: none !important;
}

.prev-btn-finder {
	top: 10%;
	color: #000000;
    position: absolute;
    right: 22%;
	background: none;
	border: none;
	width: 20px;
	height: 40px;
	text-align: center;
	padding: 0;
	outline: none !important;
}

.next-btn-finder {
	top: 10%;
	color: #000000;
    position: absolute;
    right: 14%;
	background: none;
	border: none;
	width: 20px;
	height: 40px;
	text-align: center;
	padding: 0;
	outline: none !important;
}

.finder-input,
.prev-btn-finder:not(:last-child)
.next-btn-finder:not(:last-child) {
	margin-right: 5px;
}

.finder-count {
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex; */
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	color: #888;
	border-right: 1px solid #e5e5e5;
	margin-right: 5px;
	margin-left: 5%;
	padding-right: 5px;
	white-space: nowrap;
}

.prev-btn-finder,
.next-btn-finder,
.btn-finder,
.finder-count {
	flex-shrink: 0;
	flex-grow: 0;
}

.highlight {
	background: #ff8;
}

.highlight.active {
	background: #ffd71b;
}
